discord.py
python-dotenv
openai
flask
asyncio
aiofiles
pynacl
requests
langdetect
deep_translator
psutil
aiohttp
edge_tts
pytz

# pip install -r requirements.txt
# python monika_bot.py
